<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Certificate Generator</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>

<body>

<div class="container-fluid">

    <div class="row">

        <!-- SIDEBAR -->
        <div class="col-md-2 sidebar">

            <h3>CertifyPro</h3>

            <a href="/">
                Dashboard
            </a>

            <a href="/admin/events">
                Events
            </a>

            <a href="/participants">
                Participants
            </a>

            <a href="/admin/certificates">
                Certificates
            </a> 

            <a href="/verification-logs">
                Verification Logs
            </a>

            <a href="{{ url_for('logout') }}">
                Logout
            </a>

        </div>

        <!-- MAIN CONTENT -->
        <div class="col-md-10 dashboard-content">

            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}

                        <div class="alert alert-{{ category }} alert-dismissible fade show mt-3">

                            {{ message }}

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert">
                            </button>

                        </div>

                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>