<!DOCTYPE html>
<html>
<head>
    <title>Invalid Certificate</title>

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-5 text-center">

        <h1 class="text-danger">
            Invalid Certificate
        </h1>

        <p>
            This certificate does not exist
            in our records.
        </p>

    </div>

</div>

</body>
</html>